---
BasedOnStyle: google
IndentWidth: 4
ColumnLimit: 160
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: MultiLine
#AlignConsecutiveDeclarations: true
---

