# Python
env/
dist/
build/
*.egg-info
*.pyc

#sphinx
docs/_build/

# IDEs
**/.idea

# cmake

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-*
